.page-content p, .page-content section {
	margin: unset;
}
@media only screen and (max-width: 812px) {
	/* NONE JAIL */
	.global-navigation__top, .notifications, .fandom-sticky-header.is-visible .fandom-community-header__local-navigation .wds-tabs .wds-dropdown:first-child, .fandom-sticky-header.is-visible .fandom-sticky-header__sitename, .user-identity-header__actions, .page-side-tools__wrapper, .page-header__top, .page__right-rail {
		display: none !important;
	}
	/* MAIN */
	.main-container {
		margin-left: unset;
		width: unset;
	}
	.page-header__bottom, .page-header__top {
		flex-direction: column-reverse;
	}
	.page-header__actions {
		justify-content: flex-end;
	}
	.page-header__title {
		font-size: 25px;
	}
	.fandom-sticky-header {
		width: 100vw;
		left: 0px;
		padding-left: 50px;
		z-index: 100;
	}
	.page-header__categories body {
		font-size: 10px;
	}
	.page-header__actions {
		padding-top: unset;
	}
	.resizable-container {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
	}
	.global-navigation {
		background: none !important;
		box-shadow: none !important;
		height: 50px !important;
	}
	.notifications+div {
		position: absolute;
		top: 0px;
		right: 0px
	}
	.global-navigation__bottom {
		z-index: 10000;
		position: absolute;
		top: 4px;
		right: 10px;
	}
	.wds-avatar img {
		border-color: #1d3dc7 !important;
	}
	.notifications+div>.wds-dropdown__content {
		position: absolute !important;
		top: 0px !important;
		left: 50px !important;
		height: 196px !important;
	}
	.fandom-community-header {
		padding: 0 10px;
	}
	.page__main {
		padding: .7em;
	}
	.fandom-sticky-header .fandom-community-header__local-navigation {
		margin-left: 0px;
	}
	.fandom-community-header__local-navigation .wds-tabs__tab-label {
		margin: 0 10px 0 0;
	}
	/* STORY PAGES */
	.article-table tr td, .article-table tr th, .wikitable tr td, .wikitable tr th {
		padding: .6em;
		font-size: 12px;
	}
	.storyNavBar {
		font-size: .75em !important;
		line-height: 1.5;
	}
	.CategorySelect.articlePage .container {
		padding: 0 0 4px 0;
	}
	table td:not([colspan="2"]) img {
		min-width: 15vw;
		height: auto;
	}
	table img {
		max-width: 100%;
		height: auto;
	}
	/* HOME PAGE */
	.home-wrap {
		flex-direction: column;
	}
	.home-wrapper {
		padding: unset;
	}
	.home-title {
		font-size: 25px !important;
	}
	.background-cover {
		height: 250px;
	}
	.background-cover img {
		height: inherit;
	}
	.home-left {
		padding: 0 1em;
	}
	/* PROFILES */
	#userProfileApp .user-identity-box {
		margin-bottom: 2px;
	}
	#userProfileApp .user-identity-avatar {
		width: 75px;
		height: 75px;
		margin-right: 10px;
		position: absolute;
	}
	#userProfileApp .user-identity-avatar__image {
		width: 75px;
		height: 75px;
		border: none;
	}
	#userProfileApp .user-identity-header {
		margin-left: 85px;
    width: calc(100% - 85px);
	}
	#userProfileApp ul.user-identity-stats {
		font-size: 12px;
		margin: 6px 0px;
		margin-left: 85px;
	}
	#userProfileApp .user-identity-bio {
		font-size: 14px;
		margin: 12px 0px;
	}
	.user-identity-social .wds-icon {
		width: 10px;
	}
	#userProfileApp .user-identity-social {
		justify-content: flex-end;
	}
	#userProfileApp .user-identity-social>li {
		margin-right: 12px;
	}
	#userProfileApp .user-profile-navigation {
		white-space: nowrap;
		font-size: 12px !important;
		overflow-x: auto;
    padding: 8px !important;
	}
	.fandom-community-header {
		overflow-x: auto;
	}
}
