.page-content p, .page-content section {
    margin: unset;
}

@media only screen and (max-width: 812px) {
	.page-content p, .page-content section {
		margin: unset;
	}
	.main-container {
		margin-left: unset;
		width: unset;
	}
	.page-header__bottom, .page-header__top {
		flex-direction: column-reverse;
	}
	.page-header__actions {
		justify-content: flex-end;
	}
	.page-header__title {
		font-size: 25px;
	}
	.fandom-sticky-header {
		width: 100vw;
		left: 0px;
		padding-left: 50px;
		z-index: 100;
	}
	.page-header__categories body {
		font-size: 10px;
	}
	.page-header__actions {
		padding-top: unset;
	}
	.resizable-container {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
	}
	.global-navigation {
		background: none !important;
		box-shadow: none !important;
		height: 50px !important;
	}
	.global-navigation__top {
		display: none;
	}
	.notifications {
		display: none;
	}
	.notifications + div {
		position: absolute;
		top: 0px;
		right: 0px
	}
	.global-navigation__bottom {
		z-index: 10000;
		position: absolute;
		top: 4px;
		right: 10px;
	}
	.wds-avatar img {
		border-color: #1d3dc7 !important;
	}
	.notifications + div > .wds-dropdown__content {
		position: absolute !important;
		top: 0px !important;
		left: 50px !important;
		height: 196px !important;
	}
	.fandom-community-header {
		padding: 0 10px;
	}
	.page__main {
		padding: .7em;
	}
	.page-side-tools__wrapper, .page-header__top, .page__right-rail {
		display: none;
	}
	.article-table tr td, .article-table tr th, .wikitable tr td, .wikitable tr th {
		padding: .6em;
		font-size: 12px;
	}
	.storyNavBar {
		font-size: .75em !important;
		line-height: 1.2;
	}
	.CategorySelect.articlePage .container {
		padding: 0 0 4px 0;
	}
	table td:not([colspan="2"]) img {
		min-width: 15vw;
		height: auto;
	}
	table img {
		max-width: 100%;
		height: auto;
	}
}

@media only screen and (max-width: 400px) {
	/* exclusive to smaller width */
	.fandom-sticky-header.is-visible.fandom-community-header__local-navigation.wds-tabs.small-navigation.wds-dropdown:first-child {
		display: none; /*supposed to hide "explore" (it doesn't. please help)*/
	}
	.fandom-sticky-header .fandom-community-header__local-navigation {
		margin-left: 0px;
	}
	.fandom-community-header__local-navigation .wds-tabs__tab-label {
		margin: 0 10px 0 0;
	}
}
