.page-content p, .page-content section {
	margin: unset;
}
@media only screen and (max-width: 812px) {
	/* NONE JAIL */
	.global-navigation__top, .notifications, .fandom-sticky-header.is-visible .fandom-community-header__local-navigation .wds-tabs .wds-dropdown:first-child, .fandom-sticky-header.is-visible .fandom-sticky-header__sitename, .user-identity-header__actions, .page-side-tools__wrapper, .page-header__top, .page__right-rail {
		display: none !important;
	}
	/* MAIN */
	.main-container {
		margin-left: unset;
		width: unset;
	}
	.page-header__bottom, .page-header__top {
		flex-direction: column-reverse;
	}
	.page-header__actions {
		justify-content: flex-end;
	}
	.page-header__title {
		font-size: 25px;
	}
	.fandom-sticky-header {
		width: 100vw;
		left: 0px;
		padding-left: 50px;
		z-index: 100;
	}
	.page-header__categories body {
		font-size: 10px;
	}
	.page-header__actions {
		padding-top: unset;
	}
	.resizable-container {
		margin-top: 10px;
		margin-bottom: 10px;
		width: 100%;
	}
	.global-navigation {
		background: none !important;
		box-shadow: none !important;
		height: 50px !important;
	}
	.notifications+div {
		position: absolute;
		top: 0px;
		right: 0px
	}
	.global-navigation__bottom {
		z-index: 10000;
		position: absolute;
		top: 4px;
		right: 10px;
	}
	.wds-avatar img {
		border-color: #1d3dc7 !important;
	}
	.notifications+div>.wds-dropdown__content {
		position: absolute !important;
		top: 0px !important;
		left: 50px !important;
		height: 196px !important;
	}
	.fandom-community-header {
		padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1200px;
    margin-bottom: -1200px;
	}
	.page__main {
		padding: .7em;
	}
	.fandom-sticky-header .fandom-community-header__local-navigation {
		margin-left: 0px;
	}
	.fandom-community-header__local-navigation .wds-tabs__tab-label {
		margin: 0 10px 0 0;
	}
  #LightboxModal {
    margin-left: 0px;
    width: 90%;
  }
	/* STORY PAGES */
	.article-table tr td, .article-table tr th, .wikitable tr td, .wikitable tr th {
		padding: .6em;
		font-size: 12px;
	}
	.storyNavBar {
		font-size: .75em !important;
		line-height: 1.5;
	}
	.CategorySelect.articlePage .container {
		padding: 0 0 4px 0;
	}
	table td:not([colspan="2"]) img {
		min-width: 15vw;
		height: auto;
	}
	table img {
		max-width: 100%;
		height: auto;
	}
	/* HOME PAGE */
	.home-wrap {
		flex-direction: column;
	}
	.home-wrapper {
		padding: unset;
	}
	.home-title {
		font-size: 1.4em !important;
	}
	.home-subtitle {
		font-size: .9em !important;
		margin: .6em 0 !important;
	}
	.background-cover {
		height: 250px;
		-webkit-mask-image: linear-gradient(to bottom, black 60%, transparent 100%) !important
	}
	.background-cover img {
		height: inherit;
	}
	.home-left {
		padding: 0 1em;
	}
  .background-cover img:not(.background-cover-default)+div {
    right: 20px;
    top: 20px;
  }
	#home-unofficial-link .home-widget-title, #home-official-link .home-widget-title {
		font: 800 8pt 'Montserrat',sans-serif !important;
	}
	#home-unofficial-link, #home-official-link {
		font-size: smaller !important;
		min-width: unset;
	}
	.home-right-wrap {
		margin: 0 15px;
	}
	.campaigns-wrapper {
		font-size: smaller;
	}
	.campaigns-wrapper img {
		width: 75% !important;
	}
	.home-birthday-name {
		font: 700 10pt 'Rubik',sans-serif !important;
	}
	.home-birthday-date {
		font: 500 9pt 'Rubik',sans-serif !important;
	}
	/* PROFILES */
	#userProfileApp .user-identity-box {
		margin-bottom: 2px;
	}
	#userProfileApp .user-identity-avatar {
		width: 75px;
		height: 75px;
		margin-right: 10px;
		position: absolute;
	}
	#userProfileApp .user-identity-avatar__image {
		width: 75px;
		height: 75px;
		border: none;
	}
	#userProfileApp .user-identity-header {
		margin-left: 85px;
    width: calc(100% - 85px);
	}
	#userProfileApp ul.user-identity-stats {
		font-size: 12px;
		margin: 6px 0px;
		margin-left: 85px;
	}
	#userProfileApp .user-identity-bio {
		font-size: 14px;
		margin: 25px 10px 0;
	}
	.user-identity-social .wds-icon {
		width: 10px;
	}
	#userProfileApp .user-identity-social {
		justify-content: flex-end;
	}
	#userProfileApp .user-identity-social>li {
		margin-right: 12px;
	}
	#userProfileApp .user-profile-navigation {
		white-space: nowrap;
		overflow-x: auto;
	}
	.fandom-community-header {
		overflow-x: auto;
	}
  body.skin-fandomdesktop #userProfileApp .user-profile-navigation__link {
    font-size: 12px;
    padding: 8px;
    letter-spacing: unset;
  }
  /* INFOBOXES AND STUFF */
  .portable-infobox {
    width: 100%;
  }
  .tabContainer, .mbox__content__wrapper {
    font-size: .88em;
  }
}
